/* Общие стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

/* Заголовок */
header {
    background-color: #0056b3;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2rem;
}

/* Контейнер */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Секция */
section {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}

section h2 {
    margin-top: 0;
    color: #0056b3;
}

/* Задачи */
.tasks ol {
    margin: 0;
    padding-left: 20px;
}

img {
    float: right;
    width: 300px;
}

/* Футер */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

